@{
  Layout = "_Layout";
}
@using HairSalon.Models
@model HairSalon.Models.Appointment

<h1>Appointment Details</h1>
<hr />
<div class="details">
  <h3 class="link">Stylist : @Html.ActionLink($"{ViewBag.StylistName}", "Details", "Stylists" , new { id = Model.StylistId })</h3>
  <h3 class="link">Client : @Html.ActionLink($"{ViewBag.ClientName}", "Details", "Stylists" , new { id = Model.ClientId })</h3>
  <h3>Time : @Model.Time</h3>
</div>
<h3>Tools</h3>
<div class="tools">
  <form class="delete-form" action="/appointments/delete/@Model.AppointmentId" method="post">
    <button class="delete-button" type="submit" name="button">Delete</button>
  </form>
  <p class="button">@Html.ActionLink("Home", "Index", "Home")</p> 
</div>
