@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<h1><span class="accent-color">Booked Appointments</span> at Eau Calires's Salon</h1>
@if(ViewBag.StylistCount == 0 && ViewBag.ClientsCount == 0)
{
  <p class="info">There are no Stylists or Clients yet, Please add one</p>
  <div class="button-group">
    <p class="button margin-right">@Html.ActionLink("Add a Stylist", "Create", "Stylists")</p>
    <p class="button">@Html.ActionLink("Add a Client", "Create", "Clients")</p>  
  </div>
}
else
{
  @if(Model.Count == 0)
  {
    <p class="info">There are no booked appointments yet</p>
  }
  else 
  {
  <ul>
    <ul class="horizontal-list table-heading">
      <li>Time</li>
      <li>Cost</li>
    </ul>
    @foreach(Appointment appointment in Model)
    {
      <ul class="horizontal-list">
        <li class="link">@Html.ActionLink($"{appointment.Time}", "Details", new { id = appointment.AppointmentId })</li>
        <li>$60</li>
      </ul>
    }
  </ul>
}
<p class="info">You can only add Appointments from a Stylist</p>
<p class="button">@Html.ActionLink("Home", "Index", "Home")</p> 
}

