@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<h1>Appointments at Eau Calires's Salon</h1>
@if(ViewBag.StylistCount == 0 && ViewBag.ClientsCount == 0)
{
  <p class="info">There are no Stylists or Clients yet, Please add one</p>
  <p>@Html.ActionLink("Add a Stylist", "Create", "Stylists")</p>
  <p>@Html.ActionLink("Add a Client", "Create", "Clients")</p>  
}
else
{
  @if(Model.Count == 0)
  {
    <p class="info">There are no booked appointments yet</p>
  }
  else 
  {
  <ul>
    @foreach(Appointment appointment in Model)
    {
      <li>@Html.ActionLink($"{appointment.Time}", "Details", new { id = appointment.AppointmentId })</li>
    }
  </ul>
}
<p>@Html.ActionLink("Add an Appointment", "Create")</p> 
}

