@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<h1>Clients at Eau Calires's Salon</h1>
@if(ViewBag.StylistCount == 0)
{
  <p class="info">There are no Stylists yet, Please add one</p>
  <p>@Html.ActionLink("Add a Stylist", "Create", "Stylists")</p> 
}
else
{
  @if(Model.Count == 0)
  {
    <p class="info">There are no Clients yet</p>
  }
  else 
  {
  <ul>
    @foreach(Client client in Model)
    {
      <li>@Html.ActionLink($"{client.Name}", "Details", new { id = client.ClientId })</li>
    }
  </ul>
}
<p>@Html.ActionLink("Add a Client", "Create")</p> 
}

